@use '@/styles/color';

.s_nextButton {
  background-color: color.$primary;
  bottom: 0;
  color: color.$onPrimary;
  font-size: 1.6rem;
  font-weight: 700;
  height: 5.4rem;
  position: absolute;
  width: 100%;

  &:disabled {
    background-color: color.$disable;
    color: color.$onBackground;
  }
}
