@use '@/styles/color.scss';
@use '@/styles/common';
@use '@/pages/Survey/survey.module.scss';

@include survey.survey-default-with-button;

.s_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  .s_inputContainer {
    position: relative;
  }

  .s_errorIcon {
    bottom: 20px;
    position: absolute;
    right: 10px;
  }

  .s_title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 53px;

    span {
      color: color.$primary;
    }
  }

  h3 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.s_errorMsg {
  color: color.$error;
  font-size: 1.2rem;
  margin-bottom: 6px;
  top: 0;
}

.s_splitInput {
  background-color: #f8f8f8;
  border: none;
  border-bottom: 0.1rem solid color.$primary;
  font-size: 1.5rem;
  font-weight: 700;
  height: 4.3rem;
  outline: none;
  text-align: center;
  width: 4rem;
  margin: {
    bottom: 1rem;
    top: 2rem;
  }
}

.s_imagesContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.2rem;
  overflow: hidden;
  -ms-overflow-style: none;
  overflow-x: scroll;
  padding-left: 2.3rem;
  scrollbar-width: none;
  width: 36rem;
  &::-webkit-scrollbar {
    display: none;
  }
}
