@use '@/styles/color.scss';
@use '@/pages/Survey/survey.module.scss';

.s_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  .s_mainTitle {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-top: 4.8rem;
    width: 100%;

    .s_highlight {
      color: color.$primary;
    }
  }

  .s_subTitle {
    color: color.$primaryVariant4;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    margin-bottom: 4rem;
    width: 100%;
  }

  input::placeholder {
    color: color.$onBackground3;
    font-size: 2.2rem;
    font-weight: 500;
    opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
  }
  input::-webkit-input-placeholder {
    color: color.$onBackground3;
    font-size: 2.2rem;
    font-weight: 500;
  }

  /* IE */
  input:-ms-input-placeholder {
    color: color.$onBackground3;
    font-size: 2.2rem;
    font-weight: 500;
  }

  /* Firefox */
  input:-mos-input-placeholder {
    color: color.$onBackground3;
    font-size: 2.2rem;
    font-weight: 500;
  }
}

.s_nextButton {
  background-color: color.$primary;
  bottom: 0;
  color: color.$onPrimary;
  font-size: 1.6rem;
  font-weight: 700;
  height: 5.4rem;
  position: absolute;
  width: 100%;

  &:disabled {
    background-color: color.$disable;
    color: color.$onBackground;
  }
}

.s_radioButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.s_audioCoachButton {
  background-color: color.$background;
  border: 0.1rem solid color.$disable;
  border-radius: 1.2rem;
  color: color.$disable;
  font-size: 1.6rem;
  height: 5.4rem;
  margin: 0.2rem 0;
  outline: none;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}

.s_selectedAudioCoach {
  background: linear-gradient(to right, color.$primaryVariant2 5%, color.$primaryVariant1 55%);
  border: 0.15rem solid color.$primary;
  color: color.$primary;
  font-weight: 700;
}
