@use '@/styles/color';

.s_exercise {
  & > button:first-child {
    align-items: center;
    background: color.$onPrimary;
    border: 0;
    border-radius: 1.6rem;
    display: flex;
    height: 42.7777777771vw;
    justify-content: center;
    margin-bottom: 0.8rem;
    max-height: 21.3230769228rem;
    max-width: 18rem;
    min-height: 15.4rem;
    min-width: 13rem;
    padding: 22px 10px;
    width: 36.1111111115vw;
  }

  .s_exerciseImage {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .s_exerciseNameWraper {
    color: color.$onPrimary;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: center;
    word-break: keep-all;
  }
}
