$onPrimary: #fff;
$primary: #601dce;
$primaryVariant1: #f9f7fc;
$primaryVariant2: #ceb0ff;
$primaryVariant3: #461990;
$onSecondary: #868686;
$secondary: #fff;
$onSurface: #1d1d1d;
$surface: rgba(#fff, 0.18);
$onBackground: #1d1d1d;
$onBackground1: #3d3d3d;
$onBackground2: #777;
$onBackground3: #c5c5c5;
$onBackground4: #eaeaea;
$background: #f8f8f8;
$onError: #fff;
$error: #b00020;
$line: #eaeaea;
$disable: #c5c5c5;
