$onPrimary: #fff;
$primary: #601dce;
$primaryVariant1: #f9f7fc;
$primaryVariant2: #ceb0ff;
$primaryVariant3: #461990;
$onSecondary: #868686;
$secondary: #fff;
$onSurface: #1d1d1d;
$surface: rgba(#fff, 0.18);
$onBackground: #1d1d1d;
$background: #f8f8f8;
$onError: #fff;
$colorLine: #eaeaea;
$colorDisable: #c5c5c5;
$errorMessage: #b00020;
