@use '@/styles/color.scss';
@use '@/styles/common.scss';

.s_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 10.9rem;
  width: 100%;

  .s_imgContainer {
    width: 20.8rem;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 4.4rem;
  }

  button {
    background-color: color.$primary;
    border-radius: 3rem;
    bottom: 3.6rem;
    color: color.$onPrimary;
    height: 5.4rem;
    position: absolute;
    width: 23rem;
  }
}
