@use '@/styles/color';

.s_header {
  align-items: center;
  display: flex;
  height: 5.6rem;
  padding: 0 1.6rem;
  width: 100%;

  .s_previousButton {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    height: 4rem;
    padding: 0;
    width: 4rem;
  }
}
