@use '@/styles/color';

.s_header {
  align-items: center;
  display: flex;
  height: 5.6rem;
  padding: 0 1.6rem;
  width: 100%;

  .s_previousButton {
    background-color: color.$background;
    height: 4rem;
    width: 4rem;
  }
}
