@use '@/styles/color';

.s_header {
  align-items: center;
  display: flex;
  height: 5.6rem;
  width: 100%;

  .s_previousButton {
    background-color: color.$background;
    padding: 0.1rem 0.1rem;
    margin: {
      bottm: 0.8rem;
      left: 1.6rem;
      top: 0.8rem;
    }
  }
}
