@use '@/styles/color';

.s_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: {
    left: 2.4rem;
    right: 2.4rem;
  };

  .s_partContainer {
    align-items: center;
    display: flex;

    .s_partName {
      font-size: 2.1rem;
      font-weight: 400;
    }

    .s_suggestion {
      color: color.$primaryVariant5;
      font-size: 1.4rem;
      margin-left: 0.5rem;
    }
  }
  .s_selectionText {
    color: color.$primaryVariant4;
    font-size: 1.4rem;
  }
}
