@use '@/styles/common.scss';
@use '@/styles/color.scss';

@include common.without-button;

.s_splitInput {
  background-color: #f8f8f8;
  border: none;
  border-bottom: 0.1rem solid color.$primary;
  font-size: 1.5rem;
  font-weight: 700;
  height: 4.3rem;
  outline: none;
  text-align: center;
  width: 4rem;
  margin: {
    bottom: 1rem;
    top: 2rem;
  }
}

.s_imagesContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.2rem;
  overflow: hidden;
  -ms-overflow-style: none;
  overflow-x: scroll;
  padding-left: 2.3rem;
  scrollbar-width: none;
  width: 36rem;
  &::-webkit-scrollbar {
    display: none;
  }
}
