@use '@/styles/color';

.s_calendarDay {
  padding: 0 0.6rem 0.9rem;

  span {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
  }

  .s_day {
    color: color.$onBackground2;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.502rem;
  }

  .s_date {
    color: color.$onBackground1;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 17.53rem;
  }

  &.s_today {
    background: rgba(96, 29, 206, 0.08);
    border-radius: 1rem;
  }

  &.s_didExercised {
    .s_date {
      background: radial-gradient(82.86% 82.86% at 28.57% 17.14%, #a269ff 0%, #6b1dce 100%);
      border-radius: 1rem;
      color: color.$onPrimary;
    }
  }
}
