@use '@/styles/color';

.s_historySection {
  color: color.$onBackground1;
  font-size: 1.6rem;
  margin-bottom: 2rem;

  .s_calendarSection {
    font-size: 1.4rem;
    line-height: 1.9rem;
    padding: 0 2.4rem;
    text-align: left;

    em {
      font-style: normal;
      font-weight: 500;
    }

    strong {
      // TODO: 디자인 시안에 color변수로 추가되면 변경
      color: #8f57eb;
    }
  }
}
