@use '@/styles/color.scss';
@use '@/pages/Survey/survey.module.scss';

@include survey.survey-default-with-button;

.s_radioButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.s_genderButton {
  align-items: center;
  background-color: color.$background;
  border: 0.1rem solid color.$disable;
  border-radius: 1.2rem;
  color: color.$disable;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  height: 5.4rem;
  justify-content: center;
  line-height: 5.4rem;
  margin: 0 0.2rem;
  padding: 1.6rem 0;
  width: 14.6rem;
}

.s_selectedGender {
  background-color: color.$primaryVariant1;
  border: 0.1rem solid color.$primary;
  color: color.$primary;
  font-weight: 700;
}
